.career-container {
  width: 100%;
  min-height: 100vh;
  background-color: black;
  padding: 2rem;
}

.career-title {
  text-align: center;
  color: white;
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

.career-title-highlight {
  color: #f56565;
}

.slider-container {
  position: relative;
  overflow: hidden;
  margin-bottom: 3rem;
}

.slider-wrapper {
  display: flex;
  gap: 1rem;
  transition: transform 0.5s ease-in-out;
}

.slider-item {
  flex-shrink: 0;
}

.career-button {
  padding: 0.75rem 2rem;
  border-radius: 20px;
  border: 3px solid red;
  color: white;
  font-size: 1rem;
  transition: all 0.3s;
  background-color: black;
  width: 20vw;
  height: 5rem;
}

.career-button:hover {
  background-color: rgba(245, 101, 101, 0.1);
}

.career-button.selected {
  background-color: red;
  border-color: red;
}

.create-button-container {
  display: flex;
  justify-content: center;
}

.create-button {
  background-color: #f56565;
  color: white;
  padding: 0.75rem 3rem;
  border-radius: 9999px;
  transition: background-color 0.3s;
}

.create-button:hover {
  background-color: #c53030;
}
