.career-container {
  width: 100%;
  background-color: black;
}

.career-title {
  text-align: center;
  color: white;
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

.career-title-highlight {
  color: #ff0000;
}

.slider-container {
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
}

.slider-wrapper {
  display: flex;
  gap: 5vw;
  transition: transform 0.5s ease-in-out;
  max-width: 75%;
  margin: 0 auto;
  position: relative;
  z-index: 0;
}

.slider-item {
  display: flex;
  margin-bottom: 15vh;
}

.career-button {
  margin: 0 auto;
  border-radius: 20px;
  border: none;
  border: 3px solid red;
  color: white;
  font-size: 1.5rem;
  transition: all 0.3s;
  background-color: black;
  width: 20vw;
  height: 30vh;
}

.career-button:hover {
  background-color: rgba(245, 101, 101, 0.1);
}

.career-button.selected {
  background-color: red;
  border-color: red;
}

.create-button-container {
  display: flex;
  justify-content: center;
}

.create-button {
  background-color: #ff0000;
  color: white;
  padding: 1rem 2rem;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 4px 15px rgba(255, 0, 0, 0.3);
  visibility: visible;
  opacity: 1;
}

.create-button.large {
  font-size: 1.25rem;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(255, 0, 0, 0.3);
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1.5s ease-out, transform 1.5s ease-out;
  transition-delay: 0.2s;
  transform: translateY(-20px);
}

.create-button:hover {
  background-color: #ff4d4d;
  transform: translateY(-3px);
  box-shadow: 0 6px 20px rgba(255, 77, 77, 0.5);
}
