.roadmap-header-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem;
  padding: 1.5rem;
  background-color: black;
  border-radius: 0.75rem;
  border: 2px solid white;
}

.header-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.regenerate-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.regenerate-text {
  color: rgb(163, 163, 163);
}

.download-button {
  background-color: #ff0000;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 4px 15px rgba(255, 0, 0, 0.3);
  visibility: visible;
  opacity: 1;
  gap: 0.5rem;
}

.download-button:hover {
  background-color: #ff4d4d;
  transform: translateY(-1px);
  box-shadow: 0 6px 20px rgba(255, 77, 77, 0.5);
}

.content-section {
  margin-top: 1.5rem;
}

.roadmap-title {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
  color: white;
  margin-bottom: 0.5rem;
}

.roadmap-description {
  color: rgb(163, 163, 163);
}

.icon-small {
  width: 1rem;
  height: 1rem;
}

.icon-medium {
  width: 1.25rem;
  height: 1.25rem;
}
